<html>
    <head>
        <title>
            Notify Me
        </title>
        <link rel="stylesheet" type="text/css" href="index.css">
    </head>
    <body>

<div class="box">
    <img src="" class="avatar">
    <h1>LOGIN</h1>
    <form>
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username">
        <p>Password</p>
        <input type="text" name="password" placeholder="Enter Password">
        <input type="submit" name="submit" value="Login">
        <a href="#">Forgot Password ?</a>
        
    </form>
</div>

    </body>

</html>
