body
{
    margin: 0;
    padding: 0;
    background: url(back.jpg);
    background-size: cover;
    background-position: center;
}
.box
{
    width:320px;
    height:420px;
    background: black;
    opacity: 0.8;
    color: #fff;
    top: 50%;
    left:50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 70px;
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 26px;
}
.box p{
    margin:0;
    padding:0;
    font-weight: bold;
}
.box input{
    width:100%;
    margin-bottom:20px;
}
.box input[type="text"],input[type="password"]
{
    border:none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    font-size: 16px;
    color: #fff;
}
.box input[type="submit"]
{
    border:none;
    height:40px;
    background: orange;
    color:white;
    font-size:18px;
    border-radius: 20px;
    opacity: 1;
}
.box input[type="submit"]:hover
{
    background: darkorange;
    color:black;
}
.box a{
    text-decoration: none;
    font-size:17px;
    color: white;
}
.box a  :hover
{
    color: orange;
}
